
<!-- extiende el contendio base.html -->
{% extends 'base.html' %}

<!-- cargando los ficheros estaticos -->
{% load static %}

<!--cargando el title de home.html -->

{% block title %} home {% endblock %}

<!-- Cargando el contenido de home.html -->
{% block content %}

  <!-- Cabecera -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/introPage.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Centro de Rescate y Adopción</span>
            <span class="section-heading-lower">Amigo Incondicional</span>
          </h2>
          <p class="mb-3">Trabajamos solo con los mejores amigos de cuatro patas. Una vez los conozcas, nuestra adopción será la mejor forma de comenzar una nueva etapa en tu vida diaria.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{% url 'visit' %}">Visítanos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mensaje -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Compromiso total con los peludos amigos</span>
              <span class="section-heading-lower">Adopción garantizada</span>
            </h2>
            <p class="mb-0">En nuestro centro de rescate y adopción, nos dedicamos a brindar un refugio seguro y amoroso a animales necesitados. Nuestro compromiso total es encontrar hogares amorosos para cada uno de ellos. Al unirte a nuestra causa, estarás contribuyendo a la felicidad y el bienestar de estos adorables seres.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}